# Configuration file

compat {
    # If true, non BL items will show in the JEI recipe for middle gems [default: true]
    B:"JEI - Show Non BL Gem Recipes"=true
}


debug {
    # If ture, enables debug mode with additional features for testing or development [default: false]
    B:"Debug mode"=false

    # If true, enables the model loader debug logger [default: false]
    B:"Model loader debug"=false
}


general {
    # If true, the main menu will be replaced by the Betweenlands main menu [default: true]
    B:"Betweenlands Main Menu"=false

    # Adds an indicator next to the crosshair that shows whether the player is connected to the caving rope and how much rope is left [default: true]
    B:"Caving Rope Indicator"=true

    # If true the food sickness system will be enabled [default: true]
    B:"Food Sickness"=true

    # If true, Betweenlands recipes that conflict with oredict'd vanilla recipes will take priority over the vanilla recipes (should be true unless you intend to fix the recipes yourself with another mod) [default: true]
    B:"Override Conflicting Recipes"=true

    # A list of items that should be whitelisted from rotting in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used [default: ]
    S:"Rotten Food Whitelist" <
     >

    # If true, the camera perspective will be switch to rowboat when you enter a rowboat, otherwise first-person [default: true]
    B:"Rowboat view"=true

    # If fluids from other mods should show in BL buckets in the creative tab [default: true]
    B:"Show Non BL Buckets"=true
}


"mob spawning" {
    # The maximum amount of naturally spawned entities per loaded area (in most cases this means per player)
    I:"Max. entities per loaded area"=250

    # The maximum amount of naturally spawned entities in the Betweenlands per world
    I:"Max. entities per world"=600
}


"online environment event overrides" {
    # Check interval in seconds [range: 60 ~ 107374182, default: 600]
    I:"Check Interval"=600

    # Default time in seconds before an event that no longer has an override resets its state [range: 0 ~ 107374182, default: 180]
    I:"Default Remote Reset Time"=180

    # If true this allows the developers to remotely enable certain environment events (such as the seasonal events for example) over a file hosted on our repository (https://raw.githubusercontent.com/Angry-Pixel/The-Betweenlands/environment_event_overrides/overrides.json). If you do not wish to use this feature it can be fully disabled by setting this to false [default: true]
    B:Enabled=true

    # How many times a connection can fail before the '(Default) Remote Reset Time' starts counting down and how many times 'Failed Recheck Interval' is used before falling back to 'Check Interval' [range: 0 ~ 2147483647, default: 3]
    I:"Failed Recheck Count"=3

    # Recheck interval in seconds if previous check has failed [range: 10 ~ 107374182, default: 60]
    I:"Failed Recheck Interval"=60
}


rendering {
    # Some blocks glow in the dark (eg Life Crystal Ore) which doesn't work in some cases. If you run into problems like broken textures for such blocks then set this to false [default: true]
    B:"Full brightness blocks"=true

    # Only works when shaders are enabled. Determines the resolution of the shader sky texture. Bigger resolutions may have a bad impact on performance
    I:"Sky texture resolution"=1024

    # Some features in the Betweenlands use shaders for special effects. If you don't have a dedicated graphics card or want to use other mods with shaders you should set this to false. May have an impact on performance depending on your computer. Forces FBOs to be enabled [default: true]
    B:"Use shaders for rendering"=true
    I:"Wisp Rendering Quality (0-100)"=50
}


"world and dimension" {
    I:"Dimension brightness (0-100)"=75

    # If true seasonal events will occur during special periods during a year [default: true]
    B:"Enable Seasonal Events"=true

    # Higher numbers decrease rate
    I:"Frequency of Druid Circles"=80
    I:"The Betweenlands Dimension ID"=20
}


