# Configuration file

bannedblocks {
    B:"minecraft:grass-0"=false
    B:"minecraft:sand-0"=false
}


banneditems {
    B:"harshencastle:pontus_world_gate_part-1"=false
    B:"minecraft:air-0"=false
    B:"theoneprobe:probenote-0"=false
}


general {
    I:"Block 10 percent Regen Interval in ms"=1000
    B:"Block Regeneration Enabled"=true
    I:"Initial Block Regen Delay in ms"=5000

    # Tons of debug printing. Only enable if really needed.
    B:debugMode=false
}


